<!DOCTYPE html>
<html lang="en">

<head>
    <title>MinSik Moon's website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.0/mini-default.min.css">
    <link rel="stylesheet" href="./resources/css/portfolio.css">
</head>

<body>
    <div id="top">
        <header class="row">
            <menu-item v-for="item in menulist" v-bind:menuItem="item" v-bind:key="item.id">
            </menu-item>
        </header>
    </div>

    <!-- <div id="top2">
        <header class="row">
            <menu-item v-for="item in menulist" v-bind:menuItem="item" v-bind:key="item.id">
            </menu-item>
        </header>
    </div> -->

    <!-- Script import -->
    <script src="./resources/js/vue.js"></script> <!-- dev version: <script src="./resources/vue.min.js"></script> -->
    <!-- <script src="./src/components/app.js"></script> -->
    <script src="./src/components/top.js"></script>
    <!-- <script src="./src/components/top2.js"></script> -->
</body>

</html>